.navigation {
    background-color: white;
    height: 50px;
    width: auto;
}

.google-slika {
     display: block;
     margin: 250 auto;
}

.button {
    height: 100px;
    width: 100px;
    background-color: white;
/* postavitev na sredino stran zaslona */
    margin-left: auto;
    margin-right: auto;
    
}
